@import "libs"
@import "base"


.header
	position: fixed
	top: 0
	right: 0
	left: 0
	transition: all .6s
	z-index: 1001
	color: #fff

	&--active, &--menu
		background-color: rgba($accent, .95)
		box-shadow: 0 5px 10px rgba($accent, .5)

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 15px
		left: 15px
		border-bottom: 1px solid #908c96
		padding-top: 15px
		padding-bottom: 15px

	a
		color: #fff


	&__logo
		font-family: $title
		text-transform: uppercase
		display: flex
		align-items: flex-end
		line-height: 1

		a
			font-size: 30px
			font-weight: 700

		p
			font-size: 20px

		span
			color: $accent

	&__tel
		font-size: 18px

		&:hover,
		&:focus
			color: $accent

	
.nav
	padding-top: 20px
	padding-bottom: 20px

	ul
		display: flex
		justify-content: space-between

	li
		margin-right: 55px

		&:last-child
			margin-right: 0

	a
		position: relative
		z-index: 1


		&:hover,
		&:focus
			color: $accent


.hero
	padding-top: 420px
	padding-bottom: 190px
	text-align: center
	color: #fff
	background-image: url(../img/hero--bg.jpg)
	background-size: cover
	background-repeat: no-repeat
	background-position: center

	h1
		font-size: 70px
		margin-bottom: 15px

	a
		text-transform: uppercase

	&__sub-title
		font-size: 30px
		text-transform: uppercase
		margin-bottom: 100px
	

.services
	padding-top: 75px
	text-align: center

	h2
		color: $accent
		margin-bottom: 20px

	p
		font-size: 20px
		margin-bottom: 15px

	&__sub-title
		text-transform: uppercase
		margin-bottom: 80px


.footer
	height: 100px


@import "page"
@import "media" // Always at the end